<h1>Your Favorite Pets</h1>
<section>
    <% @favorited.each do |pet| %>
    <div class="pet_block">
      <%= image_tag(pet.image) %><br/>
      <%= link_to "#{pet.name}", "/pets/#{pet.id}", method: :get %><br/>
    </div>
    <% end %>
</section>
